.title{
    font-family: 'Luckiest Guy';
    padding-left: 67px;
    color: orange;
}
.bg-black{
    background-color: black;
    font-family: 'Fredoka One';
    text-shadow:2px 0px 2px rgb(194, 141, 141);
 
}
.text-pink{
padding-left: 67px;

font-size: x-large;
}
.img{
    position: absolute;
    background-image: url(../img/student6.jpg);
    width: 100%;
    height:100%;
    background-size: cover;
    transition: all 0.3s;
    &:hover{
        width: 120%;
        height: 120%;
     margin-bottom: -30%;
     margin-left: -10%;
    }
}
.none{
    overflow: hidden;
    transition: all 3s;
    &:hover .img-fluid,#change{
     width: 120%;}
}
.size{
overflow: hidden;
}
.fas{
    font-size: 78px;
    &.fa-user-graduate,&.fa-university,&.fa-users{
        color: ivory;
    }
}
.label{
    color: ivory;
    font-family: 'Fredoka One';
    font-size: 17px;
}
.hover>.col-4{
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}
.color{
    font-family: 'Luckiest Guy';
}
.orange{
    color: orange;
    font-family: 'Luckiest Guy';
    letter-spacing: 1.3px;
}

ol>li{
    line-height: 1.3pc;
   font-size: 17px;
margin: 14px 0;
text-transform: lowercase;
}
.new{
    font-family: 'Acme', sans-serif;
}
.note{
    color: crimson;
    font-family: 'Luckiest Guy';
}
.value{
    font-family: 'Luckiest Guy';
    letter-spacing: 1.6px;
}
.text-yellow{
    color: gold;
    text-shadow: 0px 0px 17px white ;
}
#footer{
    text-shadow: 0px 0px 17px white ;
}
.my{
    display: none;
    
}
.t-img1{
    background-image: url(../img/student1.jpg);
}
.t-img2{
    background-image: url(../img/student2.jpg);
}
.pic{
   background-image: url(../img/student3.jpg);
}
.t-img4{
    background-image: url(../img/student4.jpg);
}
.t-img1,.t-img2,.pic,.t-img4{
    background-size: cover;
    top: 0;
    width: 100%;
    height:170px;
}
#shadow1{
box-shadow: 0px 1.3px 19px 1px rgb(0, 183, 255);
}
#shadow2{
    box-shadow:0px 1.3px 19px 1px rgb(0, 183, 255);
}
.card-title{
    text-transform: capitalize;
}

.h1{
    color: rgb(54, 50, 54);
}
.none{
    display: initial;
}
//mid screen
@media(max-width:750px){
    body{
        font-size: medium;
        .card-title,.card-body,.label,.orange{
            font-size: large;
            .none{
                display: none;
            }
        }
        .color{
            font-size: xx-large;
        }
        .title{
            padding-left: 0 !important;
            font-size: 60px;
            text-align: center;
        }
        .new>li{
            margin-left: -30px;
            font-size: small;
            line-height: initial;
        }
        .fa-user-graduate,.fa-users,.fa-university,.fas{
            font-size:67px;
        }
        .note{
            font-size: x-small;
        }
        .value{
            font-size: x-small;
        }
        .text-pink{
            font-size: x-large;
            margin-left: -60px;
            text-align: center;

        }
    }
  
}
//min 
@media(max-width:340px){
    body{
        .title{
            padding-left: 0 !important;
            font-size: 30px;
            text-align: center;
        }
        font-size: small;
        .card-title{
            font-size: x-small;
        }
        .card-body{
            font-size: x-small;
        }
        .label{
            font-size: x-small;
        }
        .color{
            font-size: x-small;
        }
        .orange{
            font-size: x-small;
            margin-left: -34px;
        }
        .new>li{
            margin-left: -30px;
            font-size: x-small;
            line-height: initial;
        }
        .fa-user-graduate,.fa-users,.fa-university,.fas{
            font-size: xx-large;
        }
        .note{
            font-size: xx-small;
        }
        .value{
            font-size: xx-small;
        }
        .text-pink{
            font-size: medium;
            margin-left: -60px;
            text-align: center;

        }
    }
  
}